<app-header></app-header>
<div style="flex-wrap: wrap; align-items: center; display: flex; position: static;" class = "container-fluid d-flex flex-container">
    <div *ngFor="let item of products">
        <app-body title = {{item.title}} imgDescription={{item.imgDescription}} body={{item.body}} img={{item.img}} buttonText={{item.buttonText}}></app-body>
    </div>
</div>
<div style="padding-left: 20%; padding-top:2%;">
    <app-body-long title="Privacy suggestions available" imgDescription="Privacy Checkup" body="Take the Privacy Checkup and choose the settings that are right for you" img="/assets/images/privacycheckop.png" buttonText="Review suggestion"></app-body-long>
</div>
<div style="padding-left: 20%; padding-top: 2%;">
    <app-long-cards title ="Looking for something else?" body="" L1="Search Google Account" L2="See help options" L3="Send feedback" img="/assets/images/rightarrow.png" imgDescription="Forward Arrow"></app-long-cards>
</div>