<div class="container-fluid d-flex body">

      
          <div style="flex: 0 0 400px" class="card w-50 ">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      
       
          <div style="flex: 0 0 400px" class="card w-50">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
       
            <div style="flex: 0 0 400px" class="card w-50">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
         
        
            <div style="flex: 0 0 400px" class="card w-50">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
       

    </div>