.body {
    align-items: center;
    flex-wrap: wrap;
}

.container-fluid {
    padding-left: 70%;
}

.card {
    width:400px;
    flex-wrap: wrap;
    height: 210px;
}

.flex-container {
    flex-wrap: wrap;
}

.card-footer {
    background-color: white;
}