<header style="text-align: center;">
    <img src="assets/images/account_circle_FILL0_wght400_GRAD0_opsz48.png" alt="Account Photo" width="125" height="125">
    <h2>Welcome, NAME</h2>
    <p>Manage your info, privacy, and security to make Google work better for you. <a href="#">Learn more</a></p>
</header>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-50">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card w-50">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
  </div>
</div>