<div class="container-fluid">
<nav style="width:260px" class="nav flex-column">
    <a routerLink="home" class="nav-link" aria-current="page" href="#">Home</a>
    <a routerLink="personal-info" class="nav-link" aria-current="page" href="#">Personal Info</a>
    <a routerLink="data-privacy" class="nav-link" aria-current="page" href="#">Data & privacy</a>
    <a routerLink="security" class="nav-link" aria-current="page" href="#">Security</a>
    <a routerLink="people-sharing" class="nav-link" aria-current="page" href="#">People & sharing</a>
    <a routerLink="payments-subscriptions" class="nav-link" aria-current="page" href="#">Payments & subscriptions</a>
    <hr>
    <a routerLink="about" class="nav-link" aria-current="page" href="#">About</a>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

<style>
  ul#menu li {
    display:inline;
    padding: 4%;
    font-size:12px;
    list-style-type: none;
  }
</style>
    
<div>
<ul id="menu">
  <li>
     <a aria-current="page" href="#">Privacy</a>
  </li>
  <li>
    <a aria-current="page" href="#">Terms</a>
  </li>
  <li>
    <a aria-current="page" href="#">Help</a>
  </li>
  <li>
    <a aria-current="page" href="#">About</a>
  </li>
</ul> 
</div>
</nav>
</div>
