.nav-link {
    list-style-type:none;
    color:rgb(98, 93, 93);
    padding:10px;
}
.nav-item {
    list-style-type:none;
    color:rgb(98, 93, 93); 
}
.container-fluid {
    position: fixed;
    top: 80px;
    z-index: 1;
    height: 100%;
}

.flex-column {
    height: 100%;
}