<div class="container-fluid flex-container body">

    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{body}} </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{L1}} <img style="height:20px; width:20px; float:right;" src="{{img}}" class="card-img-top" alt={{imgDescription}}></li>
            <li class="list-group-item">{{L2}} <img style="height:20px; width:20px; float:right;" src="{{img}}" class="card-img-top" alt={{imgDescription}}></li>
            <li class="list-group-item">{{L3}} <img style="height:20px; width:20px; float:right;" src="{{img}}" class="card-img-top" alt={{imgDescription}}></li>
          </ul>
      </div>
    </div>