<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets\images\Gplus.png" alt="" width="90" height="40" class="d-inline-block align-text-top">
                 </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a style = "position:relative; left:200px; "class="nav-link active" aria-current="page" href="#">SUN 29</a>
        </li>
        <li class="nav-item">
            <a style = "position:relative; left:300px; "class="nav-link active" aria-current="page" href="#">MON 30</a>
        </li>
         <li class="nav-item">
            <a style = "position:relative; left:400px; "class="nav-link active" aria-current="page" href="#">TUE 31</a>
        </li>
        <li class="nav-item">
            <a style = "position:relative; left:500px; "class="nav-link active" aria-current="page" href="#">WED 1</a>
        </li>
        <li class="nav-item">
            <a style = "position:relative; left:600px; "class="nav-link active" aria-current="page" href="#">THU 2</a>
        </li>
        <li class="nav-item">
             <a style = "position:relative; left:700px; "class="nav-link active" aria-current="page" href="#">FRI 3</a>
        </li>
        <li class="nav-item">
             <a style = "position:relative; left:800px; "class="nav-link active" aria-current="page" href="#">SAT 4</a>
        </li>  
        </ul>
      </div>
    </div>
  </nav>